<head>
    {{ partial "head.html" . }}
</head>

    <div class="container">
        <header>
          {{ partial "header.html" . }}
        </header>
        <main>
          <div class="main-wrapper">
            {{ partial "sidebar.html"}}
            <div class="posts-content">
              <div class="posts">
                <header>
                    <h1 class="post-title">{{ .Title }}</h1>
                    <p class="post-meta">{{ .Date | dateFormat "January 2, 2006" }} · By {{ .Params.author }}</p>
                </header>
                    <article>
                        <article class="post">
                          <section class="post-body">
                            <p>{{ .Content }}</p>
                          </section>
                          <!-- <footer class="post-footer">
                            <div class="post-stats">
                              <span>阅读 64</span>
                              <span>收藏 0</span>
                              <span>评论 3</span>
                              <span>赞 3</span>
                            </div>
                            <div class="post-actions">
                              <span class="icon icon-share">🔗</span>
                              <span class="icon icon-favorite">⭐</span>
                              <span class="icon icon-like">👍</span>
                              <span class="icon icon-comment">💬</span>
                            </div>
                          </footer> -->
                        </article>
                    </article>
              </div>
            </div>
          </div>
        </main>
      </div>
</body>