<head>
    {{ partial "head.html" . }}
</head>

    <div class="container">
        <header>
          {{ partial "header.html" . }}
        </header>
        <main>
          <div class="main-wrapper">
            {{ partial "sidebar.html"}}
            <div class="posts-content">
              <div class="posts">
                <header>
                    <h1 class="post-title">{{ .Title }}</h1>
                    <p class="post-meta">{{ .Date.Format "2006-01-02" }} · By {{ .Site.Params.author }}</p>
                </header>
                    <article>
                        <article class="post">
                          <section class="post-body">
                            <p>{{ .Content }}</p>
                          </section>
                        </article>
                    </article>
              </div>
            </div>
          </div>
        </main>
      </div>
</body>