<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href='{{ "css/style.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/post-list.css" | absURL }}' />
    <link rel="stylesheet" href='{{ "css/single.css" | absURL }}' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>{{ if .IsHome }}{{ else }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
</head>